extends layout

block content
  h1= title
  form(action="/auth/register", method="post")
    label(for="email") Email:
    br
    input(type="email", name="email", required)
    br
    label(for="username") Username:
    br
    input(type="text", name="username", required)
    br
    label(for="password") Password:
    br
    input(type="password", name="password", required)
    br
    input(type="submit", value="Register")